:root {
  --slate: #3d698f;
  --teal: #80a7a5;
  --sage: #abbe92;
  --mauve: #775864;
  --red: #c0504d;
  --ink: #44546a;
  --mid: #999999;
  --card: #f2f2f2;
  --bg: #ffffff;
  --head-font: 'Noto Sans JP', sans-serif;
  --body-font: 'Noto Sans JP', sans-serif;
  --code-font: 'Noto Sans JP', sans-serif;
}
